@media (max-width: 1330px) {
  /* Wrapper */
  .wrapper {
    max-width: 920px;
  }

  /* Section About (Vision/Mission) */
  .about-block-image {
    width: 450px;
  }

  /* Footer */
  .footer-navigation {
    background-color: #2D3F45;
    padding: 25px 0;
    display: block;
  }

  .footer-nav-list {
    width: 70%;
    float: left;
    font-family: "Roboto";
  }

  .footer-navigation .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav-list, .footer-social-list {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-nav-list {
    justify-content: space-between;
  }

  .footer-social-list {
    justify-content: space-around;
  }

  .footer-nav-list .nav-elem {
    margin: 0;
  }

  .footer-nav-list, .footer-social-list {
    display: block;
  }

  .footer-nav-list .nav-elem .nav-a {
    padding: 0 0;
  }

  .footer-social-list .nav-elem {
    margin: 0;
  }
}

@media (max-width: 950px) {
  /* Wrapper */
  .wrapper {
    max-width: 720px;
  }
  
  /* Header (Navigation) */
  .header-nav-wrapper {
    flex-direction: column;
  } 

  .header-logo {
    text-align: center;
  }
  
  .main-nav-search {
    width: 45%;
    margin: 20px auto 0;
    padding: 5px 0;
  }

  /* .nav-list-row {
    justify-content: space-around;
  } */

  .main-nav-list {
    text-transform: capitalize;
    text-decoration: none;
    font-family: Heebo;
    font-weight: 550;
    font-size: 18px;
    margin-top: 42px;
  }
  
  /* First section (Products) */
  .homepage-product {
    width: 200px;
  }

  /* Vision/Misson (Section About) */
  .text-decoration {
    margin: 20px 0;
    letter-spacing: 5px;
    color: var(--add-text-color);
  }

  .about-block-image {
    width: 350px;
  }

  /* Main Activities */
  .main-activities-info {
    flex-wrap: wrap;
  }

  .main-activity {
    width: 30%;
  }

  .activity-title {
    font-size: 20px;
  }

  .activity-text {
    font-size: 16px;
  }

  /* Footer */
  .footer-navigation {
    background-color: #2D3F45;
    padding: 25px 0;
    display: block;
  }

  .footer-nav-list {
    width: 70%;
    float: left;
    font-family: "Roboto";
  }

  .footer-nav-list {
    flex-wrap: wrap;
  }

  .footer-nav-list .nav-elem {
    margin: 5px 0;
  }

  .footer-social-list .nav-elem {
    margin: 0 0 0 13px;
  }
}