@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Heebo";
  src: url(../fonts/Heebo-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
  --main-text-color: #324950;
  --add-text-color: #57984C;
  box-sizing: border-box;
  color: var(--main-text-color);
}
/* Wrapper */
.wrapper {
  /* border: 1px solid #f00; */
  display: block;
  max-width: 1110px;
  margin: 0 auto;
}

/* Header */
.header {
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* Navigation */
.header-nav {
  padding: 20px 0 0;
}

.header-nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
} 

.main-nav-search {
  display: flex;
  width: 65%;
  margin: 0 0 0 auto;
  padding: 5px 0;
  border-bottom: 2px solid var(--main-text-color);
}

.input-search {
  width: 90%;
  background: none;
  border: none;
  font-family: "Roboto Slab";
  font-size: 16px;
  color: var(--main-text-color);
}

.search-submit {
  width: 10%;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav-list-row {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
}

.main-nav-list {
  text-transform: capitalize;
  text-decoration: none;
  font-family: Heebo;
  font-weight: 550;
  font-size: 18px;
  margin-top: 42px;
}


.nav-a {
  color: var(--main-text-color);
  padding: 0 8px;
}

/* Header Title (H1) */
.header-title {
  text-align: center;
  margin: 21% 0;
}

.title-text {
  font-weight: bold;
  font-size: 48px;
  font-family: "Roboto Slab";
  color: #735440;
}

.title-button {
  background-color: var(--add-text-color);
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px 31px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  margin-top: 60px;
}

/* First section (Products) */
.section-products {
  padding: 40px 0;
  text-align: center;
}

.product {
  display: inline-block;
  text-align: center;
  margin: 20px 50px;
  height: auto;
}

.product-text {
  margin: 20px 0 0;
  font-family: "Roboto Slab";
  text-transform: capitalize;
}

.product-image {
  height: auto;
}


/* Vision/Misson (Section About) */
.section-about {
  background: url(../images/union_bg.png) no-repeat;
  background-color: #F7F7F7;
  background-position: center;
}

.about-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 80px;
}

.about-block:nth-child(even) {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.about-block-text {
  font-family: "Roboto Slab";
  color: var(--main-text-color);
  width: 45%;
}

.about-title {
  font-size: 64px;
}

.about-text {
  line-height: 1.7em;
  width: 100%;
  font-size: 20px;
}

.text-decoration {
  margin: 25px 0 30px;
  letter-spacing: 5px;
  color: var(--add-text-color);
}

.about-block-image {
  width: 540px;  
  filter: drop-shadow(0 20px 40px #00000040);
}


/* Main Activities */
.section-main-activities {
  background-color: #EDEDED;
  padding: 80px 0;
  text-align: center;
}

.section-main-activities-title {
  font-family: "Roboto Slab";
  font-size: 64px;
}

.main-activities-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.main-activity {
  display: inline-block;
  width: 100%;
}

.activity-image {
  margin: 65px 0 21px;
}

.activity-title {
  font-family: "Roboto Slab";
  font-size: 24px;
  color: var(--add-text-color);
}

.activity-title::after {
  text-align: center;
  margin: 27px auto 20px;
  content: " ";
  display: block;
  width: 60%;
  border: 1px solid var(--add-text-color);
}

.activity-text {
  margin: 0 auto;
  line-height: 1.5em;
  font-family: "Roboto Slab";
  font-size: 18px;
  text-wrap: balance;
}


/* Footer */
.footer-navigation {
  background-color: #2D3F45;
  padding: 25px 0;
  display: block;
}

.footer-nav-list {
  width: 70%;
  float: left;
  font-family: "Roboto";
}

.footer-nav-list, .footer-social-list {
  display: inline-block;
}

.footer-nav-list::after, .footer-social-list::after {
  clear: both;
  content: "";
}

.footer-nav-list .nav-elem, .footer-social-list .nav-elem {
  display: inline;
}

.footer-nav-list .nav-elem .nav-a {
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px;
}

.footer-social-list .nav-elem {
  margin: 0 0 0 13px;
}

.footer-nav-list .nav-elem .nav-a:first-child {
  padding-left: 0 !important;
}

.footer-social-list {
  width: 30%;
  color: var(--add-text-color);
  text-align: right;
}

.fa-brands {
  text-align: center;
  width: 1em;
  height: 1em;
}

.nav-social-elem {
  border: 3px solid var(--add-text-color);
  padding: 3px;
  border-radius: 200px;
}

.footer-info {
  padding: 15px 0;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--main-text-color);
  color: #B9B9B9;
}

/* var(--main/add-text-color) */