<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/reset.css">
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="stylesheet" href="../assets/styles/responsive.css">
  <title>Tomato</title>
  <script defer src="https://kit.fontawesome.com/4c0d9c2968.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="header">
    <div class="wrapper header-wrapper">
      <nav class="header-nav header-nav-wrapper">
        <div class="header-logo">
          <a href="../index.html"><img class="logo-image" src="../assets/images/logo.png" alt="Main logo"></a>
        </div>
        <div class="header-main-nav">
          <form class="header-nav-search" method="get">
            <input class="input-search" type="text" name="search" placeholder="Search" id="search">
            <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="nav-list-row homepage-header-nav-list header-nav-list menu__box">
              <li class="nav-elem menu__item"><a class="nav-a" href="../index.html">Home</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Company profile</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./tomato.html">Products</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Services</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">R & D</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main class="main" id="app">
    <section class="slideshow">
      <img src="../assets/images/slideshow/ss_2.jpg" alt="Slideshow-1">
    </section>
    <div class="wrapper">
      <section v-if="!orderSubmitted" class="contact-form-section">
        <h1 class="title subtitle contact-title">Contact us</h1>
        <p class="text-decoration">*****</p>
        <section class="cart-items">
          <h2 class="title subtitle cart-title">Cart Items</h2>
          <table class="cart-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in cart" :key="item.id">
                <td><img :src="'../assets/images/market/peppers/' + item.image" alt="Product Image" width="50"></td>
                <td>{{ item.title }}</td>
                <td>{{ item.short_text }}</td>
                <td><button @click="removeFromCart(item.id)">Remove</button></td>
              </tr>
            </tbody>
          </table>
        </section>
        <form class="contact-form" action="#" method="get" @submit.prevent="makeOrder">
          <div class="contact-form-block">
            <label class="contact-form-label" for="name">
              <p class="form-input-title">Name *</p>
              <input required type="text" name="name" id="name" v-model="contactFields.name">
            </label>
            <label class="contact-form-label" for="company-name">
              <p class="form-input-title">Company name *</p>
              <input required type="text" name="company-name" id="company-name" v-model="contactFields.companyName">
            </label>
            <label class="contact-form-label" for="position">
              <p class="form-input-title">Position *</p>
              <input required type="text" name="position" id="position" v-model="contactFields.position">
            </label>
            <label class="contact-form-label" for="city">
              <p class="form-input-title">City *</p>
              <input required type="text" name="city" id="city" v-model="contactFields.city">
            </label>
            <label class="contact-form-label" class="contact-form-label" for="country">
              <p class="form-input-title">Country *</p>
              <input required type="text" name="country" id="country" v-model="contactFields.country">
            </label>
            <label class="contact-form-label" for="tel">
              <p class="form-input-title">Telephone *</p>
              <input required type="tel" name="tel" id="tel" v-model="contactFields.tel">
            </label>
            <label class="contact-form-label" for="email">
              <p class="form-input-title">Email *</p>
              <input required type="email" name="email" id="email" v-model="contactFields.email">
            </label>
          </div>
          <div class="contact-form-block">
            <label class="contact-form-label" for="who-are-u">
              <p class="form-input-title">You are a *</p>
              <select name="who-are-u" id="who-are-u" v-model="contactFields.whoAreYou">
                <option value="seed-prod1">seed producer 1</option>
                <option value="seed-prod2">seed producer 2</option>
                <option value="seed-prod3">seed producer 3</option>
                <option value="seed-prod4">seed producer 4</option>
              </select>
            </label>
            <label class="contact-form-label" for="specify">
              <p class="form-input-title">If others, please specify</p>
              <input type="text" name="specify" id="specify" v-model="contactFields.specify">
            </label>
            <label class="contact-form-label" for="interested-in">
              <p class="form-input-title">You are interested in</p>
              <textarea name="interested-in" id="interested-in" cols="30" rows="14" v-model="contactFields.interestedIn"></textarea>
            </label>
            <label class="contact-form-label" for="captcha">
              <p class="form-input-title">Please type this code</p>
              <span class="captcha-code">74365</span>
              <input required type="text" name="captcha" id="captcha">
              <input class="submit-contact-form" type="submit" value="Send Message">
            </label>
          </div>
        </form>
      </section>
      <section class="contact-form-submitted" v-if="orderSubmitted">
        <h1 class="title subtitle">Thank you for your order!</h1>
        <p class="main-text">Name: {{ contactFields.name }}</p>
        <p class="main-text">Email: {{ contactFields.email }}</p>
        <p class="main-text">Company: {{ contactFields.companyName }}</p>
        <p class="main-text">Position: {{ contactFields.position }}</p>
        <p class="main-text">City: {{ contactFields.city }}</p>
        <p class="main-text">Country: {{ contactFields.country }}</p>
        <p class="main-text">Telephone: {{ contactFields.tel }}</p>
      </section>
      <div class="clear"></div>
    </div>
    <section class="contact-info">
      <h2 class="title info-title">Our address</h2>
      <p class="contact-info-text main-text">AGRIDERA Seeds & Agriculture Ltd.</p>
      <p class="contact-info-text main-text">P.O Box 103,</p>
      <p class="contact-info-text main-text">Gedera 70750, Israel.</p>
      <p class="contact-info-text main-text">Telephone: <a class="a-tel" href="tel:+97289449222">+972 8 944 9222</a></p>
    </section>
  </main>
  <footer class="footer">
    <nav class="footer-navigation">
        <div class="wrapper footer-wrapper">
          <ul class="nav-list-row footer-nav-list"><!--nav-list-row-->
            <li class="nav-elem"><a href="./err.html" class="nav-a">Profile</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Management</a></li>
            <li class="nav-elem"><a href="./tomato.html" class="nav-a">Products</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">R&D</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Links</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Sitemap</a></li>
            <li class="nav-elem"><a href="./contact.html" class="nav-a">Contact</a></li>
          </ul>
          <ul class="footer-social-list">
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-invision"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-instagram"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-youtube"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-twitter"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-facebook-f"></i></li>
          </ul>
      </div>
      </nav>
    <p class="footer-info">Agridera seeds & Agriculture LTD. © 2020</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>