<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/reset.css">
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="stylesheet" href="../assets/styles/responsive.css">
  <title>Products Market</title>
  <script defer src="https://kit.fontawesome.com/4c0d9c2968.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="header">
    <div class="wrapper header-wrapper">
      <nav class="header-nav header-nav-wrapper">
        <div class="header-logo">
          <a href="../index.html"><img class="logo-image" src="../assets/images/logo.png" alt="Main logo"></a>
        </div>
        <div class="header-main-nav">
          <form class="header-nav-search" method="get">
            <input class="input-search" type="text" name="search" placeholder="Search" id="search">
            <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="nav-list-row homepage-header-nav-list header-nav-list menu__box">
              <li class="nav-elem menu__item"><a class="nav-a" href="../index.html">Home</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Company profile</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./tomato.html">Products</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Services</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">R & D</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main class="main tomato-main" id="app">
    <section class="slideshow">
      <img :src="'../assets/images/slideshow/'+title_image" alt="Slideshow_1">
    </section>
    <div class="wrapper">
      <section class="market-info">
        <h1 class="subtitle market-title">Agridera Fresh Market {{ page_title }}</h1>
        <p class="text-decoration">*****</p>
        <p class="market-text main-text">
          Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds. <strong>We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</strong>
          In particular, we breed improved disease-resistant cultivars adapted to different markets globally.
        </p>
        <p class="market-text main-text">
          Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). 
        </p>
        <p class="market-text main-text">
          In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes.
        </p>
        <p class="market-text main-text">
          <div class="market-text main-text attention-text">
            Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.
          </div>
        </p>
      </section>
    </div>
    <div class="cards-wrapper">
      <section class="tomatos-cards">
        <article class="tomatos-card">
          <h2 class="cards-title">Greenhouse Tomato Breeding Program</h2>
          <p class="market-text main-text">
            <strong>This breeding is aimed for the Spanish and Turkish markets.</strong>
            For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). 
          </p>
        </article>
        <article class="tomatos-card">
          <h2 class="cards-title">Open-field Indeterminate Tomatoes</h2>
          <p class="market-text main-text">
            <strong>This breeding is for Brazilian, Moroccan, and Turkish markets.</strong>
            The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.
          </p>
        </article>
        <article class="tomatos-card">
          <h2 class="cards-title">Open-field Bush Type Tomatoes</h2>
          <p class="market-text main-text">
            <strong>This breeding is for Mediterranean markets.</strong>
            We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).
          </p>
        </article>
      </section>
    </div>
    <div class="wrapper">
      <p class="market-text main-text attention-text">
        Agridera operates through international and local distributers around the world.
      </p>
      <section class="section-shop" v-if="products">
        <article class="shop-item" v-for="p in products"><a href="tomato_shop_item.html">
          <div class="shop-item-image"><img :src="'../assets/images/market/peppers/'+p.image" alt="Item1"></div>
          <h3 class="shop-item-tittle">{{ p.title }}</h3>
          <p class="shop-item-info">{{ p.short_text }}</p>
        </a></article>
      </section>
    </div>
  </main>
  <footer class="footer">
    <nav class="footer-navigation">
        <div class="wrapper footer-wrapper">
          <ul class="nav-list-row footer-nav-list"><!--nav-list-row-->
            <li class="nav-elem"><a href="./err.html" class="nav-a">Profile</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Management</a></li>
            <li class="nav-elem"><a href="./tomato.html" class="nav-a">Products</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">R&D</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Links</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Sitemap</a></li>
            <li class="nav-elem"><a href="./contact.html" class="nav-a">Contact</a></li>
          </ul>
          <ul class="footer-social-list">
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-invision"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-instagram"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-youtube"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-twitter"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-facebook-f"></i></li>
          </ul>
      </div>
      </nav>
    <p class="footer-info">Agridera seeds & Agriculture LTD. © 2020</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>