<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/reset.css">
  <link rel="stylesheet" href="../assets/styles/style.css">
  <link rel="stylesheet" href="../assets/styles/responsive.css">
  <title>Tomato</title>
  <script defer src="https://kit.fontawesome.com/4c0d9c2968.js" crossorigin="anonymous"></script>

</head>
<body>
  <header class="header">
    <div class="wrapper header-wrapper">
      <nav class="header-nav header-nav-wrapper">
        <div class="header-logo">
          <a href="../index.html"><img class="logo-image" src="../assets/images/logo.png" alt="Main logo"></a>
        </div>
        <div class="header-main-nav">
          <form class="header-nav-search" method="get">
            <input class="input-search" type="text" name="search" placeholder="Search" id="search">
            <button type="submit" class="search-submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="nav-list-row homepage-header-nav-list header-nav-list menu__box">
              <li class="nav-elem menu__item"><a class="nav-a" href="../index.html">Home</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Company profile</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./tomato.html">Products</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">Services</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./err.html">R & D</a></li>
              <li class="nav-elem menu__item"><a class="nav-a" href="./contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main class="main tomato-item-view" id="app">
    <div class="wrapper">
      <div class="return-back">
        <p class="return-back-text"><a href="./tomato.html"><-- Return to all tomatoes</a></p>
      </div>
      <section class="tomato-view">
        <section class="view-header">
          <div class="view-header-block">
            <h1 class="title tomato-view-title">{{ product.title }}</h1>
            <h2 class="title tomato-view-subtitle">{{ product.short_text }}</h2>
            <p class="text-decoration">*****</p>
            <div class="view-fact">
              <div class="view-fact-img"><img src="../assets/images/tomato_fact_img.png" alt="Tomato Icon"></div>
              <h2 class="view-fact-info">Very high yield and excellent fruits quality!</h2>
            </div>
          </div>
          <div class="view-header-block">
            <section class="view-illustration">
              <div class="view-illustration-image"><img :src="'../assets/images/market/peppers/'+product.image" alt="Tomatos"></div>
              <a href="./err.html">
                <button class="button-item-info-download">
                  <img src="../assets/images/pdg_icon.png" alt=""><span>Download pdf</span>
                </button>
              </a>
            </section>
          </div>
        </section>
        <section class="view-info-section">
          <div class="view-info-block">
            <article class="view-info">
              <h3 class="view-info-title info-title">Characteristics</h3>
              <ul class="view-info-list">
                {{ product.desc.characteristics }}
              </ul>
            </article>
          </div>
          <div class="view-info-block">
            <article class="view-info">
              <h3 class="view-info-title info-title">Plant</h3>
              <ul class="view-info-list list-style-disk" v-for="p_plant in product.desc.plant">
                <li class="nav-list">{{ p_plant }}</li>
              </ul>
            </article>
            <article class="view-info">
              <h3 class="view-info-title info-title">Fruit</h3>
              <ul class="view-info-list list-style-disk" v-for="p_fruit in product.desc.fruit">
                <li class="nav-list">{{ p_fruit }}</li>
              </ul>
            </article>
          </div>
          <div class="view-info-block">
            <article class="view-info">
              <h3 class="view-info-title info-title">Cycle</h3>
              <ul class="view-info-list list-style-disk" v-for="p_cycle in product.desc.cycle">
                <li class="nav-list">{{ p_cycle }}</li>
              </ul>
            </article>
            <article class="view-info">
              <h3 class="view-info-title info-title">Color</h3>
              <ul class="view-info-list" v-for="p_color in product.desc.color">
                <li class="nav-list">{{ p_color }}</li>
              </ul>
            </article>
          </div>
        </section>
      </section>
      <div class="clear"></div>
    </div>
  </main>
  <footer class="footer">
    <nav class="footer-navigation">
        <div class="wrapper footer-wrapper">
          <ul class="nav-list-row footer-nav-list"><!--nav-list-row-->
            <li class="nav-elem"><a href="./err.html" class="nav-a">Profile</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Management</a></li>
            <li class="nav-elem"><a href="./tomato.html" class="nav-a">Products</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">R&D</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Links</a></li>
            <li class="nav-elem"><a href="./err.html" class="nav-a">Sitemap</a></li>
            <li class="nav-elem"><a href="./contact.html" class="nav-a">Contact</a></li>
          </ul>
          <ul class="footer-social-list">
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-invision"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-instagram"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-youtube"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-twitter"></i></li>
            <li class="nav-elem nav-social-elem"><i class="fa-brands fa-facebook-f"></i></li>
          </ul>
      </div>
      </nav>
    <p class="footer-info">Agridera seeds & Agriculture LTD. © 2020</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>